:root {
    --gunmetal: #393d3f;
    --almond: #D5BBB1;
    --teal: #9CC4B2;
    --rose: #C98CA7;
    --bubblegum: #E76D83;
}

/* ============================================
   COMMON ELEMENTS
   ============================================ */
body {
    background-color: var(--gunmetal)
}

h1 {
    color: var(--bubblegum);
    font-size: 3rem;
}

/* ============================================
   HEADER SPECIFIC ELEMENTS
   ============================================ */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
    background-color: var(--gunmetal);
    margin-block: 50px;
    margin-inline: 25px;
}

header > p {
    color: var(--almond);
    font-size: 1rem;
}

/* ============================================
   BODY SPECIFIC ELEMENTS
   ============================================ */
#body-ctnr {
    min-height: 100vh;
    display: grid;
    grid-template: auto auto 1fr 100px / 1fr minmax(50%, 600px) 1fr;
    gap: 25px;
}

main {
    --card-size: auto;
    grid-row: 3;
    grid-column: 2;
    align-self: start;
    display: grid;
    grid-auto-rows: var(--card-size);
    gap: 15px;
    border-left: 4px inset var(--teal);
    margin-left: 25px;
    padding-left: 25px;
    background-color: var(--gunmetal);
}

.card > p {
    color: var(--gunmetal);
    font-size: 0.8rem;
}

.card {
    background-color: var(--almond);
    border-radius: 4px;
    padding: 10px;
}

.book-desc {
    font-weight: bold;
    font-size: 1rem;
}

#add-book-btn {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--rose);
    border-radius: 36px;
    border: 3px solid var(--almond);
    font-size: 1rem;
    color: black;
    padding-block: 5px;
    gap: 5px;
    cursor: pointer;
    transition: translate 100ms ease-out, background-color 100ms ease-out, scale 100ms ease-out;
}

#add-book-btn:hover {
    background-color: var(--almond);
    border: 3px solid var(--rose);
    translate: 0 -3px;
}

#add-book-btn:active {
    translate: 0 1px;
    scale: 0.97;
    transition-duration: 25ms;
}

#add-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40px;
    aspect-ratio: 1;
    flex-shrink: 0;
    border: 1px solid var(--almond);
    border-radius: 50%;
    background-color: var(--bubblegum);
    line-height: 1;
    padding: 0;
}